


* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font: 1.65rem/1.2 Circe, sans-serif;
    font-weight: 300;
    font-family: $georgia;
    font-size: 15px; 
    color: #858585;
  }

  /*header*/
